<launch>

    <!-- 设置地图的配置文件 -->
    <!-- <arg name="map" default="$(find tso_hastar_net)/map/henhouse.yaml"/> -->
    <arg name="map" default="$(find tso_hastar_net)/map/inspection_map.yaml"/>

    <!-- 加载地图 -->
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map)"/>

    <!-- <param name="/root_path" value="$(find tso_hastar_net)" type="string"/> -->
    <node pkg="tso_hastar_net" type="simple_astar_test" name="simple_astar_test" output="screen" />

    <!-- Launch RViz with the demo configuration -->
    <node name="rviz" pkg="rviz" type="rviz" output="screen" 
    args="-d $(find tso_hastar_net)/rviz/cbf.rviz" />

</launch>
